<div class="row" style="margin: 20px">
  <div id="center-div" class="col s12 m8 offset-m2 z-depth-4">

    <h3>Login</h3>
    
    <form class="col s12">

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="phone" type="text" class="validate">
          <label for="phone">Phone #</label>
        </div>

        <div class="input-field col s12">
          <input id="passwrd" type="password" class="validate">
          <label for="passwrd">Password</label>
        </div>
      </div>

    </form>
    
  </div>
</div>